<div id="accountpage" class="jumbotron">
  <div class="container">
    <h1>Account Information</h1>
    <ul class="list-group">
      <li class="list-group-item">Name</li>
      <li class="list-group-item">Address</li>
      <li class="list-group-item">Phone Number</li>
      <li class="list-group-item">Email</li>
      <li class="list-group-item"><h3>Change Password</h3></li>
      <li class="list-group-item">Old Password: <input /></li>
      <li class="list-group-item">New Password: <input /></li>
    </ul>
    <button class="btn btn-primary" type="submit">Save Changes</button>
    <button class="btn btn-danger" type="submit">Delete Account</button>
  </div>
</div>
