<div class="jumbotron">
  <div class="container">
    <div>
      <label>Current Balance</label><span>: $3.81 </span><br>
      <label>Max Balance</label>:
      <select>
        <option>$5.00</option>
        <option>$10.00</option>
        <option>$25.00</option>
        <option>$50.00</option>
      </select><br>
      <label>Benchmark</label>:
      <select>
        <option>$1.00</option>
        <option>$2.00</option>
        <option>$3.00</option>
        <option>$4.00</option>
        <option>$5.00</option>
      </select>
    </div>
    <h2>Bank</h2>
    <label>Username: </label> <input type="text" value="myusername101" readonly=""/><br>
    <label>Password: </label> <input type="text" value="**********" readonly=""/>
  </div>
  <div class="jumbotron">
    <div id="balancetransactionlog">
      <h2>Transaction Log</h2>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <table id="homeresults" class="table table-bordered">
          <thead>
            <tr>
              <th>Amount Donated</th>
              <th>Date</th>
              <th>Time</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>$5.00</td>
              <td>4/3/2017</td>
              <td>7:09 pm</td>
            </tr>
            <tr>
              <td>$10.00</td>
              <td>4/15/2017</td>
              <td>3:04 pm</td>
            </tr>
            <tr>
              <td>$25.00</td>
              <td>4/26.2017</td>
              <td>11:39 pm</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-sm-6">
        <label>Total donated this month: </label> <input type="text" value="$40.00" readonly />
      </div>
    </div>
  </div>
</div>
